{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

            We have vareity of products

{% endblock %}
{% block title %}
      Search
{% endblock %}
{% block content %}
<div>
  <P class="text-center my_search_text">You have searched for: <b>"{{query}}"</b></P>
</div>

<div class="container">
    <div class="row max_auto">
        {% for product in products %}
    <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-12 col-lg-4">
        <div class="card text-center" style="minimum_width:18rem;">

            <a href="{{product.get_url}}"><img class="my_image my_image_padding1 card-img-top my_image" src="{{product.image.url}}" height="200px" width="200" alt="{{product.name}}"></a>
            <div class="card-body">
                <h4>{{product.name}}</h4>
                <p>₹ {{product.price}}</p>
            </div>
        </div>
    </div>
    {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text">0 Results found</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}